<div class="flex justify-center bg-ligthblue">
  <div class="flex justify-end px-8 p-2">
    <span dir="rtl" class="whitespace-nowrap text-2xl font-bold text-blue">ריכוז מידע בתהליך</span>
  </div>
</div>
<div  class="flex justify-center px-8 py-8">
  <span dir="rtl" class="whitespace-nowrap flex flex-col px-4">
    <button (click)="resetContacts()" dir="rtl" class="btn">איפוס אנשי קשר</button>

  </span>
  <span dir="rtl" class="whitespace-nowrap flex flex-col px-4">
    <button (click)="fullyResetContacts()" dir="rtl" class="btn">איפוס מלא</button>
  </span>
  <span dir="rtl" class="whitespace-nowrap flex flex-col px-4">
    <button (click)="setInfuredAsContact()" dir="rtl" class="btn">הוספת מבוטח</button>
  </span>
  <span dir="rtl" class="whitespace-nowrap px-4 py-1">פעולות אפשריות:</span>
  <span dir="rtl" class="whitespace-nowrap px-4 py-1 flex">
    מספר אנשי קשר בתהליך:
    <span  dir="rtl" class="whitespace-nowrap flex flex-col px-1">
      {{ (contacts$ | async)?.length }}
    </span>
  </span>
</div>

