<div class="flex justify-center bg-ligthblue">
  <div class="flex justify-end px-8 p-2">
    <span dir="rtl" class="whitespace-nowrap text-2xl font-bold text-blue">אנשי קשר</span>
  </div>
</div>
<div class="flex justify-center">
  <table class="container bg-gray" dir="rtl" border="1">
    <thead>
      <tr>
        <th>מועדף</th>
        <th>שם איש קשר</th>
        <th>סוג</th>
        <th>כתובת</th>
        <th>טלפון נייד</th>
        <th>דוא"ל</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts$ | async">
        <td><input (change)="updateDeliveryFlag(contact.id)" [checked]="contact.deliveryFlag" type="checkbox"></td>
        <td>{{contact.name}}</td>
        <td>{{contact.type.value}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.phoneNumber}}</td>
        <td>{{contact.email}}</td>
      </tr>
      <tr *ngIf="isNewContact">
        <td>
          <form [formGroup]="contactForm">
            <input type="checkbox" formControlName="preferred"/>
          </form>
        </td>
        <td>
          <form [formGroup]="contactForm">
            <input type="text" class="input-text" formControlName="name"/>
          </form>
        </td>
        <td>
          <form [formGroup]="contactForm">
            <select formControlName="type" dir="rtl" class=" p-1" [value]="contactPersonTypeOptions$ | async">
              <option value=""  selected hidden></option>
              <option [value]="option.code" *ngFor="let option of contactPersonTypeOptions$ | async">
                {{ option.value }}
              </option>
            </select>
          </form>
        </td>
        <td>
          <form [formGroup]="contactForm">
            <input type="text" class="input-text" formControlName="address"/>
          </form>
        </td>
        <td>
          <form [formGroup]="contactForm">
            <input type="text" class="input-text" formControlName="phone"/>
          </form>
        </td>
        <td class="flex">
          <form [formGroup]="contactForm">
            <input type="text" class="input-text" formControlName="email"/>
          </form>
          <button class="btn-add" (click)="addNewContact()">+</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<a (click)="newContact()" dir="rtl" class="whitespace-nowrap flex flex-col px-4 anchor-btn">
 הוסף איש קשר  
</a>

